.container{
    display: flex;
    flex-direction: column;
}

.main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.nav-container{
    display: flex;
    justify-content: flex-end;
    width: 90vw;
}

.navlinks{
    display: flex;

}

nav ul{
    list-style: none;
}

nav li{
    margin: 5px;
}

.shelf-books{
    display: flex;
    align-items: center;
}

.vertical-books{
    display: flex;
    flex-direction: column;
}

.book-img{
    height: 7em;
    width: 5em;
}
.add-logo{
    height: 2em;
    width: 2em;
}